<!DOCTYPE html>
<html>

<head>
    <title>Training Status</title>
</head>
<style>
    .frame {
        border: 1px solid black;
        padding: 10px;
        width: 300px;
    }
</style>

<body>
    <h1>Training Status</h1>
    <div class="frame">
        {% if training_in_progress %}
        <p>Training is still in progress.</p>
        <p>Training started at: {{ training_start_time }}</p>
        <button onclick="redirectToPredictPage()">Predict</button>
        {% endif %}

        {% if not training_in_progress %}
        {% if not model_created %}
        {% if not error_message %}
        <p>No training is currently in progress and no model is prepared.</p>
        <button onclick="redirectToTrainPage()">Train Model</button>
        {% else %}
        <p>Error during training!</p>
        <p>Error: {{ error_message }}</p>
        <p>Error time: {{ error_time }}</p>
        <button onclick="redirectToTrainPage()">Train Model</button>
        {% endif %}
        {% endif %}
        {% endif %}

        {% if not training_in_progress %}
        {% if model_created %}
        <p>Training is not in progress and the model has been created.</p>
        <p>Training started at: {{ training_start_time }}</p>
        <p>Training ended at: {{ training_end_time }}</p>

        <button onclick="redirectToPredictPage()">Predict</button>
        <button onclick="redirectToTrainPage()">Train Model</button>
        {% endif %}
        {% endif %}
    </div>




    <script>
        function redirectToTrainPage() {
            window.location.href = "/train";
        }

        function redirectToPredictPage() {
            window.location.href = "/predict";
        }
    </script>
</body>

</html>