<html>

<head>
    <title>Predict</title>
</head>

<body>
    <h1>Predict</h1>
    {% if model_available %}
    <form id="predict-form" method="POST" action="/predict">
        <label for="data">Enter data:</label>
        <textarea id="data" name="data" rows="4" cols="50"></textarea><br>
        <button type="submit">Predict</button>
    </form>
    {% endif %}

    {% if prediction %}
    {% if not bad_data %}
    <div>
        <h2>Prediction Result:</h2>
        <p>{{ prediction }}</p>
    </div>
    {% else %}
    <p>Bad data, please put proper format</p>
    {% endif %}
    {% endif %}

    {% if not model_available %}
    <p>No trained model available. Please train a model first.</p>
    <button onclick="redirectToTrainPage()">Train Model</button>
    {% endif %}


    <script>
        function redirectToTrainPage() {
            window.location.href = "/train";
        }
    </script>
</body>

</html>